<!-- extend base layout -->
{% extends "base.html" %}

{% block head %}
<script type='text/javascript'>
    $(function(){
        $('.nav .navbar-nav').removeClass('active');
        $('#index').addClass('active');
    });
</script>
{% endblock %}
{% block content %}
<div class="btn-group">
    <a class='btn btn-info btn-sm' href="{{ url_for('page') }}"> 新增 </a>
</div>


<div class='table-responsive'>
<table class='table table-hover'>
<thead>
    <tr>
        <th></th>
        <th>{{postform.id.label}}</th>
        <th>{{postform.topic.label}}</th>
        <th>{{postform.title.label}}</th>
        <th>{{postform.sequence.label}}</th>
        <th>操作</th>
    </tr>
</thead>
<tbody>
{% for post in posts %}
<tr>
    <td><input type="checkbox"></td>
    <td>{{post.id}}</td>
    <td><a href="{{ url_for('page', post_id=post.id)}}">{{post.topic}}</a></td>
    <td>{{post.title}}</td>
    <td>{{post.sequence}}</td>
    <td><a href="{{ url_for('remove', post_id=post.id)}}" class="btn btn-warning btn-sm">删除</a></td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
<div class='pull-right'>
{% from 'macro.html' import pagination_html, pagination_href %}
{{ pagination_html(pagination, request.endpoint, request.query_string) }}
</div>
{% endblock %}
