{% extends "base.html" %}

{% block head %}

    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='ueditor.config.js') }}"></script>
    <script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='ueditor.all.min.js') }}"}> </script>
    <script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='lang/zh-cn/zh-cn.js') }}"></script>

    <style type="text/css">
        .clear {
            clear: both;
        }
    </style>
    <script type='text/javascript'>
        // UE.getEditor('body');

        var editor = UE.ui.Editor({initialFrameHeight: 700, initialFrameWidth: 1000});
        editor.render('body');
    </script>

{% endblock %}

{% block content %}


    <div class='content'>
        <form action="" method="POST" name='post'>
            {{form.hidden_tag()}}
            <p>

                {{form.topic.label}}: {{form.topic(size=25)}}
                {% for error in form.errors.topic %}
                <span style="color: red;">[{{error}}]</span>
                {% endfor %}<br>

                {{form.title.label}}: {{form.title(size=50)}}
                <br>
                {{form.sequence.label}}: {{form.sequence(size=15)}}
                <br>
                <p> {{form.body(cols="100", rows="20")}} </p>

            </p>
            <p><input type="submit" value="保存"></p>
        </form>
    </div>


{% endblock %}
